<div id='space'>
      <p class ='title'><%= @space.title %></p>
      <p class ='location'><%= @space.location %></p>
      <p class ='description'><%= @space.description %></p>
      <p class ='price_per_night'><%= @space.price %></p>
      <div class='available_dates'>
        <% @space.available_dates.each do |available_date| %>
          <div class ='space'>
            <P class ='date'><%= available_date.date.strftime("%d-%b-%Y") %></p>
          </div>
        <% end %>
      </div>
      <form action='/requests/<%= @space.id %>', method='post'>
        Choose a Date <input type="date" name="date">
        <input type="submit" value="Submit Booking">
      </form>
</div>

