<% @spaces.each do |space| %>
  	<% unless space.booking_requests.empty? %>
  		<p><%= space.title %>, <%= space.location %></p>
  		<% space.booking_requests.each do |booking_request| %>
        <article id='<%= booking_request.id %>' >
  			 <%= booking_request.user.name %>
  			 <%= booking_request.formatted_date %>
         <%= booking_request.status %>
          <% if booking_request.status == 'Pending' %>
            <form action='/bookings/confirmation/<%= booking_request.id%>' method='post'>
              <input type='submit' value='Confirm'>
            </form>
          <% end %>
        </article>
  		<% end %>
  	<% end %>
<% end %>
